.vscode
/.buildpath
/.project
/dev.php
/nbproject
/shopgate-cloud-integration-sdk.zip
/.settings
/.IDEA
/.idea
composer.lock
/vendor
/.php-cs.cache
/.phpunit.result.cache
test.php
access_token.txt
src/access_token*
.env
!tools/.env
.php_cs.cache
build
!*/.gitkeep
tools/docker-compose.yml.tmp
tools/import/node_modules
tools/import/package-lock.json
examples/config.php
phpunit.xml
